<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <form action ="/applicants" method = "post" class="form">
        	<div class="form__group">
        		<span> NAME </span>
        		<br>
        		<input type="text" name="name">
        		<br>
        	</div>

        	<div class="form__group">
        		<span> AGE </span>
        		<br>
        		<input type="text" name="age">
        		<br>
        	</div>

        	<div class="form__group">
        		<span> SUBJECT </span>
        		<br>
        		<input type="text" name="subject">
        		<br>
        	</div>

        	<div>
        		<input type="submit" value="Submit">
        	</div>
        </form>
    </body>
</html>